<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dao.BoardDAOImpl">

    <insert id="insertBoard" parameterType="com.project.dto.BoardDTO">
        INSERT INTO board(
            board_title,
            board_content,
            board_writer,
            board_hit,
            idx
        ) VALUES (
            #{btitle},
            #{bcontent},
            #{bwriter},
            0,
            #{idx}
        )
    </insert>

    <select id="viewBoard" parameterType="com.project.dto.BoardDTO" resultType="com.project.dto.BoardDTO">
        SELECT board_no as bno,
               board_title as btitle,
               board_writer as bwriter,
               board_hit as bhit,
               DATE_FORMAT(board_updatetime,'%Y-%m-%d') as bupdatetime,
               idx as idx
        FROM   board
        <if test = "keyword != null">
            <include refid="criteria"></include>
        </if>
        ORDER BY board_no DESC
        LIMIT  #{skip}, #{amount}
    </select>

    <select id="selectBoard" parameterType="com.project.dto.BoardDTO" resultType="com.project.dto.BoardDTO">
        SELECT board_no as bno,
               board_title as btitle,
               board_writer as bwriter,
               board_content as bcontent,
               board_hit as bhit,
               DATE_FORMAT(board_datetime,'%Y-%m-%d-%H:%i') as bdatetime,
               DATE_FORMAT(board_updatetime,'%Y-%m-%d-%H:%i') as bupdatetime,
               idx as idx
        FROM   board
        WHERE  board_no = #{bno}
    </select>

    <select id="modifyBoard" parameterType="com.project.dto.BoardDTO" resultType="com.project.dto.BoardDTO">
        SELECT board_no as bno,
               board_title as btitle,
               board_writer as bwriter,
               board_content as bcontent,
               board_hit as bhit,
               idx as idx
        FROM   board
        WHERE  board_no = #{bno}
    </select>

    <update id="updateBoard" parameterType="com.project.dto.BoardDTO">
        UPDATE board
        SET
               board_title = #{btitle},
               board_content = #{bcontent}
        WHERE  board_no = #{bno}
    </update>

    <delete id="deleteBoard" parameterType="com.project.dto.BoardDTO">
        DELETE FROM board
        WHERE  board_no = #{bno}
    </delete>

    <update id="hitBoard" parameterType="int">
        UPDATE board
        SET    board_hit  = board_hit +1
        WHERE  board_no = #{bno}
    </update>

    <select id="countBoard" parameterType="com.project.dto.BoardDTO" resultType="int">
        SELECT COUNT(*)
        FROM   board
        <if test="keyword != null">
            <include refid = "criteria"> </include>
        </if>
    </select>

    <select id="searchBoard" parameterType="com.project.dto.BoardDTO" resultType="com.project.dto.BoardDTO">
        SELECT board_no as bno,
               board_title as btitle,
               board_writer as bwriter,
               board_content as bcontent,
               board_hit as bhit,
               board_updatetime as bupdatetime,
               idx as idx
        FROM   board
        WHERE  board_writer = #{bwriter}
        ORDER BY board_no DESC
    </select>

    <sql id="criteria">
        <trim prefix="where (" suffix=")" prefixOverrides="OR">
            <foreach collection="typeArr" item="type">
                <trim prefix="OR">
                    <choose>
                        <when test = "type == 'T'.toString()">
                            board_title like concat('%',#{keyword},'%')
                        </when>
                        <when test="type == 'C'.toString()">
                            board_content like concat('%',#{keyword},'%')
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>
</mapper>
