<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dao.BoardDAOImpl">

    <insert id="insertBoard" parameterType="com.project.dto.BoardDTO" useGeneratedKeys="true" keyProperty="bno">
      <![CDATA[
        INSERT INTO board(
            board_title,
            board_content,
            board_writer,
            board_hit,
            board_heart,
            board_pin,
            idx
        ) VALUES (
            #{btitle},
            #{bcontent},
            #{bwriter},
            0,
            0,
            #{bpin},
            #{idx}
        )
        ]]>
    </insert>

    <select id="viewBoard" parameterType="com.project.dto.BoardDTO" resultType="com.project.dto.BoardDTO">
        SELECT board_no AS bno,
               board_title AS btitle,
               board_writer AS bwriter,
               board_hit AS bhit,
               board_heart AS bheart,
               board_pin AS bpin,
               DATE_FORMAT(board_updatetime,'%Y-%m-%d') as bupdatetime,
               idx AS idx
        FROM   board
        <if test = "keyword != null">
            <include refid="criteria"></include>
        </if>
        ORDER BY board_pin DESC, board_no DESC
        LIMIT  #{skip}, #{amount}
    </select>

    <select id="selectBoard" parameterType="com.project.dto.BoardDTO" resultType="com.project.dto.BoardDTO">
        SELECT board_no AS bno,
               board_title AS btitle,
               board_writer AS bwriter,
               board_content AS bcontent,
               board_hit AS bhit,
               board_heart AS bheart,
               board_pin AS bpin,
               DATE_FORMAT(board_datetime,'%Y-%m-%d-%H:%i') AS bdatetime,
               DATE_FORMAT(board_updatetime,'%Y-%m-%d-%H:%i') AS bupdatetime,
               idx AS idx
        FROM   board
        WHERE  board_no = #{bno}
    </select>

    <select id="modifyBoard" parameterType="com.project.dto.BoardDTO" resultType="com.project.dto.BoardDTO">
        SELECT board_no AS bno,
               board_title AS btitle,
               board_writer AS bwriter,
               board_content AS bcontent,
               board_hit AS bhit,
               board_heart AS bheart,
               idx AS idx
        FROM   board
        WHERE  board_no = #{bno}
    </select>

    <update id="updateBoard" parameterType="com.project.dto.BoardDTO">
        UPDATE board
        SET
               board_title = #{btitle},
               board_content = #{bcontent}
        WHERE  board_no = #{bno}
    </update>

    <delete id="deleteBoard" parameterType="com.project.dto.BoardDTO">
        DELETE FROM board
        WHERE  board_no = #{bno}
    </delete>

    <update id="hitBoard" parameterType="int">
        UPDATE board
        SET    board_hit  = board_hit +1
        WHERE  board_no = #{bno}
    </update>

    <select id="countBoard" parameterType="com.project.dto.BoardDTO" resultType="int">
        SELECT COUNT(*)
        FROM   board
        <if test="keyword != null">
            <include refid = "criteria"> </include>
        </if>
    </select>

    <select id="searchBoard" parameterType="com.project.dto.BoardDTO" resultType="com.project.dto.BoardDTO">
        SELECT board_no AS bno,
               board_title AS btitle,
               board_writer AS bwriter,
               board_content AS bcontent,
               board_hit AS bhit,
               board_heart AS bheart,
               board_updatetime AS bupdatetime,
               idx AS idx
        FROM   board
        WHERE  board_writer = #{bwriter}
        ORDER BY board_no DESC
    </select>

    <select id="HeartBoard" parameterType="com.project.dto.BoardDTO" resultType="com.project.dto.BoardDTO">
        SELECT board_heart AS bheart
        FROM   board
        WHERE  board_no = #{bno}
    </select>

    <update id="upBoard" parameterType="com.project.dto.BoardDTO">
        UPDATE board
        SET    board_heart = board_heart+1
        WHERE  board_no = #{bno}
    </update>

    <update id="downBoard" parameterType="com.project.dto.BoardDTO">
        UPDATE  board
        SET     board_heart = board_heart-1
        WHERE   board_no = #{bno}
    </update>

    <insert id="insertFile" parameterType="java.util.HashMap">
      <![CDATA[
        INSERT INTO file (
            file_org_name,
            file_stored_name,
            file_size,
            board_no
        ) VALUES (
            #{org_fname},
            #{stored_fname},
            #{fsize},
            #{bno}
        )
        ]]>
    </insert>

    <select id="selectFile" parameterType="int" resultType="java.util.HashMap">
        SELECT  file_no AS fno,
                file_org_name AS org_fname,
                ROUND(file_size/1024,1) AS fsize
        FROM    file
        WHERE   board_no = #{bno}
        AND     file_del = 'N'
    </select>

    <select id="downFile" parameterType="java.util.HashMap" resultType="java.util.HashMap">
      <![CDATA[
        SELECT  file_org_name AS org_fname,
                file_stored_name AS stored_fname
        FROM    file
        WHERE   file_no = #{fno}
      ]]>
    </select>

    <update id="updateFile" parameterType="java.util.HashMap">
        UPDATE  file
        SET     file_del='Y'
        WHERE   file_no = #{fno}
    </update>

    <sql id="criteria">
        <trim prefix="where (" suffix=")" prefixOverrides="OR">
            <foreach collection="typeArr" item="type">
                <trim prefix="OR">
                    <choose>
                        <when test = "type == 'T'.toString()">
                            board_title LIKE concat('%',#{keyword},'%')
                        </when>
                        <when test="type == 'C'.toString()">
                            board_content LIKE concat('%',#{keyword},'%')
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>
</mapper>
