<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dao.CommentDAOImpl">

    <insert id="insertComment" parameterType="com.project.dto.CommentDTO">
        INSERT INTO comment (
            comment_text,
            comment_writer,
            board_no,
            idx
        ) VALUES (
            #{ctext},
            #{cwriter},
            #{bno},
            #{idx}
        )
    </insert>

    <select id="selectComment" parameterType="com.project.dto.CommentDTO" resultType="com.project.dto.CommentDTO">
        SELECT comment_no as cno,
               comment_text as ctext,
               comment_writer as cwriter,
               board_no as bno,
               idx as idx
        FROM   comment
        WHERE  board_no = #{bno}
    </select>

    <delete id="deleteComment" parameterType="com.project.dto.CommentDTO">
        DELETE FROM comment
        WHERE comment_no = #{cno}
    </delete>

    <update id="updateComment" parameterType="com.project.dto.CommentDTO">
        UPDATE comment
        SET    comment_text = #{ctext}
        WHERE  comment_no = #{cno}
    </update>

</mapper>
