<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dao.MemberDAOImpl">

    <insert id="insertMember" parameterType="com.project.dto.MemberDTO">
        INSERT INTO member(
            m_id,
            m_password,
            m_name,
            m_pnum,
            m_address
        )
        VALUES (
            #{id},
            #{password},
            #{name},
            #{pnum},
            #{address}
        )
    </insert>

    <select id="loginMember" parameterType="com.project.dto.MemberDTO" resultType="com.project.dto.MemberDTO">
        SELECT m_id as id,
               m_password as password
        FROM member
        WHERE m_id = #{id}
    </select>

    <select id="selectMember" parameterType="com.project.dto.MemberDTO" resultType="com.project.dto.MemberDTO">
        SELECT idx as idx,
               m_id as id,
               m_password as password,
               m_name as name,
               m_pnum as pnum,
               m_address as address
        FROM member
        WHERE m_id = #{id}
    </select>
    
    <update id="updateMember" parameterType="com.project.dto.MemberDTO">
        UPDATE member
        SET
               m_password = #{password},
               m_name = #{name},
               m_pnum = #{pnum},
               m_address = #{address}
        WHERE  m_id = #{id}
    </update>

    <delete id="deleteMember" parameterType="com.project.dto.MemberDTO">
        DELETE FROM member
        WHERE   m_id = #{id}
    </delete>
</mapper>