<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dao.MemberDAOImpl">

    <insert id="insertMember" parameterType="com.project.dto.MemberDTO">
        INSERT INTO member(
            id,
            password,
            name,
            pnum,
            address
        )
        VALUES (
            #{id},
            #{password},
            #{name},
            #{pnum},
            #{address}
        )
    </insert>

    <select id="loginMember" parameterType="com.project.dto.MemberDTO" resultType="com.project.dto.MemberDTO">
        SELECT id as id,
               password as password
        FROM member
        WHERE id = #{id}
    </select>

    <select id="selectMember" parameterType="com.project.dto.MemberDTO" resultType="com.project.dto.MemberDTO">
        SELECT idx as idx,
               id as id,
               password as password,
               name as name,
               pnum as pnum,
               address as address
        FROM member
        WHERE id = #{id}
    </select>
    
    <update id="updateMember" parameterType="com.project.dto.MemberDTO">
        UPDATE member
        SET
               password = #{password},
               name = #{name},
               pnum = #{pnum},
               address = #{address}
        WHERE  id = #{id}
    </update>

    <delete id="deleteMember" parameterType="com.project.dto.MemberDTO">
        DELETE FROM member
        WHERE   id = #{id}
    </delete>
</mapper>